<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheResultFile="tmp/tests/cache"
         executionOrder="random"
         forceCoversAnnotation="true"
         defaultTestSuite="full"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <php>
        <ini name="assertion.exception" value="1" />
        <const name="REQUEST_FACTORY" value="Nyholm\Psr7\Factory\Psr17Factory"/>
        <const name="RESPONSE_FACTORY" value="Nyholm\Psr7\Factory\Psr17Factory"/>
        <const name="SERVER_REQUEST_FACTORY" value="Nyholm\Psr7\Factory\Psr17Factory"/>
        <const name="UPLOADED_FILE_FACTORY" value="Nyholm\Psr7\Factory\Psr17Factory"/>
        <const name="URI_FACTORY" value="Nyholm\Psr7\Factory\Psr17Factory"/>
        <const name="STREAM_FACTORY" value="Nyholm\Psr7\Factory\Psr17Factory"/>
    </php>
    <testsuites>
        <testsuite name="full">
            <directory>modules/*/test</directory>
        </testsuite>
        <testsuite name="memory-leak">
            <directory>modules/*/test</directory>
            <exclude>modules/Http/test/PSR7</exclude>
        </testsuite>
        <testsuite name="without-files">
            <directory>modules/*/test</directory>
            <exclude>modules/Files/test</exclude>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="tmp/coverage/cache"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">modules/*/src</directory>
        </include>
        <exclude>
            <file>**/*Exception.php</file>
        </exclude>
    </coverage>
</phpunit>
