<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="random"
         forceCoversAnnotation="true"
         defaultTestSuite="default"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>modules/*/test</directory>
        </testsuite>
        <testsuite name="Collection">
            <directory>modules/Collection/test</directory>
        </testsuite>
        <testsuite name="DI">
            <directory>modules/DI/test</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>modules/Http/test</directory>
        </testsuite>
        <testsuite name="Support">
            <directory>modules/Support/test</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">modules/*/src</directory>
        </include>
        <exclude>
            <file>**/*Exception.php</file>
        </exclude>
    </coverage>
</phpunit>
