<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="development/testBootstrap.php"
         cacheResultFile="tmp/tests/cache"
         executionOrder="random"
         forceCoversAnnotation="true"
         defaultTestSuite="default"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>modules/*/test</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="tmp/coverage/cache"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">modules/*/src</directory>
        </include>
        <exclude>
            <file>**/*Exception.php</file>
        </exclude>
    </coverage>
</phpunit>
